:plain
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="on0" value="Donation amout">Donation amout: <select name="os0">
          <option value="Donate">Donate $1.00 USD</option>
          <option value="Donate">Donate $2.00 USD</option>
          <option value="Donate">Donate $3.00 USD</option>
          <option value="Donate">Donate $4.00 USD</option>
          <option value="Donate">Donate $5.00 USD</option>
          <option value="Donate">Donate $6.00 USD</option>
          <option value="Donate">Donate $7.00 USD</option>
          <option value="Donate">Donate $8.00 USD</option>
          <option value="Donate">Donate $9.00 USD</option>
  </select> <br>
  <input type="hidden" name="on1" value="Anything you want to say to me">Anything you want to say to me: <input type="text" name="os1" maxlength="200">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIII8QYJKoZIhvcNAQcEoIII4jCCCN4CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBdWFtg0h45z6fWGky1CDhIlxDqHQ8t02U+8szckVlocmF7ZyEuu2dGGKzAn2sLUXvIR5IgOWvViRuUS3TwHO5aa5/26JYSgywXHFfMh9cqkS8AAG+3F+vIIudsFu2Mf5FzKdkGyTrEMvbe/y8WFa60SUvTXIrIy+lSJRGs6yNkMzELMAkGBSsOAwIaBQAwggJtBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECDuPy4+m2yfzgIICSCJvb9LAqVTD5B13Q/CFtvLF2qUfWHlzP5kaFDf8jRVtTcRrnaHMpXs3wggP06qmZEmvoAeSmtsucpBYr34OnzoIfguNfQylQedyR1Pm4BUNq/07SFY35g7sSmYIUhsSI6yiv9K/TFD1dROrLZYft0hdz2y6Ea4lfEVKGlv+S9VJBtJb+zt98v11ODnmu7npKpREAxKm1oIii+/vvVsO3dpRsNoGWrbvifbE3EF/wjSU5ftDUWxSjvw+CURj/pmd5zKmelrnEHKRz4frfbyjmqeNEwg+g3ruwNc3x/HtGS21Nl5yxcdC+X1fbLdXbi/BsdvBTiPVlhPxm/b7wrQMoIQfIjbqzq4NsCcHGcy5PaoV87XZCvdoM+aBSuIJzZZsgPXzvx08GGSEHQiB664Ah9oiA53IsDHg3Wj0p/UYaC9No4JmyCEsFOoVH1V+rCkHaWf4SzVi22nBYD/cDhjnjQ2X+YKGcWYezibIz3dRBCIzK/ZpqQStQmNvLmp0552wpazMdqzqV1ATY4wVyqV/URXGNv/5/G8AAChA3k/99l8KP1378k3opW9FI4ynQi+rSX3TpYtVM+m+ydGY/wa9idDW6hnMMpOFGqg5wmN0yR4I0RztEBVqfOGmxtGmvbkdA/0ewNEGH1nIqy5PwsKpnVb7KSwDU0f30m7kWxtH3jAUcjncr/BybpIkPyvQro7alrGSKpenPEzmPn4ubelzUmAuh9YB21VSzhJsyS4uE78GzDwHwhLOZQhObFsKLQfCkAU7R6UHnnRyoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwMzA2MTEzOTIzWjAjBgkqhkiG9w0BCQQxFgQUDdw6whJZw7x+zwHKfDWAzir6BuIwDQYJKoZIhvcNAQEBBQAEgYAJ7qmE6F4lG3tMgjoXIQNV3NKIIX+SvUFJ5yMlhBs/CiLGSTei4Fh0vRD2JDoyzYbBQzGNeBdv+yAKjV78V2OIe0r+KP5cUAeA+0U+74L565q9mQzpdwK1Y90vuTo0Lgvapvvl9h/FCrAgNTEBIFj4dx09VuECe2b42X1gdJctSg==-----END PKCS7-----
  ">
  <br>
  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

